@import "tailwindcss";
@theme {
  --color-primary: #433d8b; /* buttons, links, active states */
  --color-surface: #2e236c; /* cards, inputs, elevated UI */
  --color-base: #17153b; /* dark backgrounds, footer */
  --color-muted: #c8acd6;
}
.dark {
  @theme {
    --color-base: #17153B;
    --color-surface: #2E236C;
    --color-muted: #C8ACD6;
  }
}
